<!-- Footer -->
<section id="footer" class="mt-3">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>大漠窮秋-Angular視頻教程</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.youtube.com/watch?v=cLQUI7t30HY&list=PLj9Dg_Y-PG7IjKrgF74JYyQunCzGWSTVq"><i class="fa fa-angle-double-right"></i>課程大綱</a></li>
						<li><a href="https://www.youtube.com/watch?v=i3fk_ggCVyI&index=2&list=PLj9Dg_Y-PG7IjKrgF74JYyQunCzGWSTVq"><i class="fa fa-angle-double-right"></i>一小時快速上手1-Angular CLI</a></li>
						<li><a href="https://www.youtube.com/watch?v=ZvVIBOyf1to&list=PLj9Dg_Y-PG7IjKrgF74JYyQunCzGWSTVq&index=3"><i class="fa fa-angle-double-right"></i>一小時快速上手2-Angualr三大核心概念</a></li>
						<li><a href="https://www.youtube.com/watch?v=L6RSYktrFJU&list=PLj9Dg_Y-PG7IjKrgF74JYyQunCzGWSTVq&index=4"><i class="fa fa-angle-double-right"></i>一小時快速上手3-Angular核心架構思想</a></li>
						<li><a href="https://www.youtube.com/watch?v=aGq4m3zwK18&index=5&list=PLj9Dg_Y-PG7IjKrgF74JYyQunCzGWSTVq"><i class="fa fa-angle-double-right"></i>一小時快速上手4-UI庫</a></li>
						<li><a href="https://www.youtube.com/watch?v=flf22DeXkFo&list=PLj9Dg_Y-PG7IjKrgF74JYyQunCzGWSTVq&index=6"><i class="fa fa-angle-double-right"></i>一小時快速上手5-NiceFish完整專案參考</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Angular Taiwan</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.youtube.com/watch?v=1-P-VwcaV6s&list=PL9LUW6O9WZqhS_DUleTW75f43oZapXc4C"><i class="fa fa-angle-double-right"></i>Angular2表單應用Template-Driven V.S. Model-Driven</a></li>
						<li><a href="https://www.youtube.com/watch?v=sQx9s6fGI8E"><i class="fa fa-angle-double-right"></i>使用Angular 2 Router快速建構SPA網站</a></li>
						<li><a href="https://www.youtube.com/watch?v=wHa_0x81OZU&t=7s"><i class="fa fa-angle-double-right"></i>一次搞懂RxJX與Observable</a></li>
						<li><a href="https://www.youtube.com/watch?v=aMeF8ksXv7o"><i class="fa fa-angle-double-right"></i>使用Angular開發TodoMVC應用程式完整實作教學</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Angular2入門教學by Yeh Kai</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.youtube.com/watch?v=TH7NDIjYktU&index=33&list=PLneJIGUTIItvda1H2PtArRwhjWvM1D7da"><i class="fa fa-angle-double-right"></i>Angular2入門教學(20) - Angular CLI實作X打包與HTTP&Proxy</a></li>
						<li><a href="https://www.youtube.com/watch?v=C782O6ZF9eY&index=34&list=PLneJIGUTIItvda1H2PtArRwhjWvM1D7da"><i class="fa fa-angle-double-right"></i>Angular2入門教學(21) - Input&Output與Component溝通</a></li>
						<li><a href="https://www.youtube.com/watch?v=wLfSxs0x0_M&list=PLneJIGUTIItvda1H2PtArRwhjWvM1D7da&index=42" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Angular2入門教學(26) - Observable與Observer</a></li>
						<li><a href="https://www.youtube.com/watch?v=px3wwu6ipcE&list=PLneJIGUTIItvda1H2PtArRwhjWvM1D7da&index=45" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Angular2入門教學(28) - Module與重構</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.github.com"><i class="fa fa-github"></i></a></li>
						<li class="list-inline-item"><a href="https://www.google.com"><i class="fa fa-google"></i></a></li>
						<li class="list-inline-item"><a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>This website is just for learnig Angular. Copyright © 2018 I dot car any rights Inc. All rights reserved</p>				
				</div>
			</div>	
		</div>
  </section>
	<!-- ./Footer -->