<!-- Bootstrap Modal -->
<div class="modal fade" id="SampleCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Component sample code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src={{imagepath}} width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ngbTooltip="你也很棒" data-dismiss="modal">寫得好棒</button>
        <button type="button" class="btn btn-secondary" placement="top" ngbTooltip="我勸你是好好選" ngbPopover="你自己來寫!我看你寫多好" popoverTitle="不知感恩的傢伙" container="body">寫得好爛</button>
      </div>
    </div>
  </div>
</div>
