<div class="container-fluid">
  <app-auto-complete></app-auto-complete>
  <!-- banner start -->
      <!-- ================ -->
      <div class="banner clearfix">

          <!-- slideshow start -->
          <!-- ================ -->
          <div class="slideshow">
  
            <!-- slider revolution start -->
            <!-- ================ -->
            <div class="slider-revolution-5-container">
              <div id="slider-banner-fullscreen" class="slider-banner-fullscreen-hero rev_slider" data-version="5.0">
                
                  <!-- main image -->
                  <img src="assets/images/mountain.jpg" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg" width="100%" height="100%">
  
                  <!-- Transparent Background -->
                  <div class="tp-caption dark-translucent-bg"
                    data-x="center"
                    data-y="center"
                    data-start="0"
                    data-transform_idle="o:1;"
                    data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                    data-transform_out="o:0;s:600;"
                    data-width="5000"
                    data-height="5000">
                  </div>
              </div>
            </div>
            <!-- slider revolution end -->
  
          </div>
          <!-- slideshow end -->
  
        </div>
        <!-- banner end -->
  
        <div id="page-start"></div>
  
        <!-- section start -->
        <!-- ================ -->
        <section class="pv-20 clearfix" style="margin-top: -10%; z-index: 500; position: relative;">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="call-to-action light-gray-bg p-20 hc-shadow bordered">
                  <h1 class="text-center text-white">Welcome to my angular demo page!!</h1>
                  <br>
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon without-bg"><i class="fa fa-diamond"></i></span>
                        <div class="body">
                          <h4 class="title">Great &amp; elegant</h4>
                          <p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem dolor.</p>
                          <a href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon without-bg"><i class="fa fa-connectdevelop"></i></span>
                        <div class="body">
                          <h4 class="title">Porro ullam volu</h4>
                          <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet.</p>
                          <a href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon without-bg"><i class="fa fa-snowflake-o"></i></span>
                        <div class="body">
                          <h4 class="title">Lorem dolor sit</h4>
                          <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet.</p>
                          <a href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
        </section>
        <!-- section end -->
  
        <!-- section start -->
        <!-- ================ -->
        <section class="pv-30 padding-bottom-clear light-gray-bg">
          <div class="container">
            <div class="row justify-content-lg-center">
              <div class="col-lg-10">
                <h1 class="text-center mt-4 large">Why <strong>Choose</strong> <span class="text-default">the Project</span></h1>
                <div class="separator"></div>
                <p class="large text-center">Atque ducimus velit, earum quidem, iusto dolorem. Ex ipsam totam quas blanditiis, pariatur maxime ipsa iste, doloremque neque doloribus, error. Corrupti, tenetur.</p>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-lg-6">
                <div class="hc-item-box-2 hc-element-invisible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                  <span class="icon without-bg"><i class="fa fa-arrows"></i></span>
                  <div class="body">
                    <h4 class="title">Responsive Design</h4>
                    <p>Our design is with responsive in mind. Our themes are compatible with various desktop, tablet, and mobile devices. <a href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a></p>
                    <div class="separator-3"></div>
                  </div>
                </div>
                <div class="hc-item-box-2 hc-element-invisible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                  <span class="icon without-bg"><i class="fa fa-bullhorn"></i></span>
                  <div class="body">
                    <h4 class="title">Inve et ita</h4>
                    <p>Our design is with responsive in mind. Our themes are compatible with various desktop, tablet, and mobile devices. <a href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a></p>
                    <div class="separator-3"></div>
                  </div>
                </div>
                <div class="hc-item-box-2 hc-element-invisible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                  <span class="icon without-bg"><i class="fa fa-umbrella"></i></span>
                  <div class="body">
                    <h4 class="title">Labore et dolore magna aliqua</h4>
                    <p>Our design is with responsive in mind. Our themes are compatible with various desktop, tablet, and mobile devices. <a href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a></p>
                    <div class="separator-3"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                  <span class="icon without-bg"><i class="fa fa-snowflake-o"></i></span>
                  <div class="body">
                    <h4 class="title">Lorem dolor sit</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua. <a href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a></p>
                    <div class="separator-2"></div>
                  </div>
                </div>
                <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                  <span class="icon without-bg"><i class=" fa fa-cogs"></i></span>
                  <div class="body">
                    <h4 class="title">Unt in culpa qui</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua. <a href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a></p>
                    <div class="separator-2"></div>
                  </div>
                </div>
                <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                  <span class="icon without-bg"><i class="fa fa-star-o"></i></span>
                  <div class="body">
                    <h4 class="title">Quis harum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua. <a href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a></p>
                    <div class="separator-2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </section>
        <!-- section end -->
  
</div>
